.tagContianer {
  width: 100%;
}
.tagWrapper {
  display: flex;
  align-items: center;
  gap: 1rem;
}
.addBtn {
  width: 54px;
  height: 54px;
  background: #e7ecf8;
  border: 1px dashed #e7ecf8;
  outline: none;
  border-radius: 50%;
  font-size: 2rem;
  color: #3972e9;
}
.imgContainaer {
  width: 54px;
  height: 54px;
}
.img {
  width: 100%;
  height: 100%;
  border-radius: 50%;
}
.imgContainaer{
    position: relative;
}
.closeBtn {
  width: 16px;
  height: 16px;
  background: #52617a;
  border: 1px solid #ffffff;
  display: flex;align-items: center;
  justify-content: center;
  border-radius: 50%;
  color: white;
  font-size:.5rem;
  position: absolute;
  bottom:.4rem;
  left:2.5rem;
}
