.formContainer {
  width: 100%;
}
.formWrapper {
  padding: 0.5rem;
  display: flex;
  flex-direction: column;
  align-items: stretch;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.LableInputWrapper{
  display: flex;
  flex-direction: column;
  align-items: stretch;
  margin-bottom: 1rem;
}
.label{
  font-family: 'Inter';
font-style: normal;
font-weight: 500;
font-size: 14px;
line-height: 17px;
}
.partitonDiv{
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.buttonContainer{
  display: flex;
  align-items: center;
  gap: 1rem;
  margin-top: 1rem;
}
.addMore{
width: 181px;
height: 48px;
background: rgba(57, 114, 233, 0.1);
border-radius: 5px;
color: #3972E9;
border: none;
outline: none;
cursor: pointer;

}

.postLoadBtn{
  width: 181px;
  height: 48px;
  background: linear-gradient(180deg, #3975EE 0%, #2F60C3 100%);
  border-radius: 5px;
  color: white;
  border: none;
outline: none;
cursor: pointer;
}






/* .inputLableContainer {
  width: 100%;
  height: 73px;
  margin-top: 1rem;
  display: flex;
  flex-direction: column;
}
.labelName {
  font-family: "Inter";
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 17px;

  display: flex;
  align-items: center;

  color: #425466;
}
.inputContainer {
  height: 48px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border: 1px solid #e4e7f0;
  border-radius: 5px;
  width: 100%;
}
.input {
  border: none;
  outline: none;
  height: 100%;
  padding: 0.2rem;
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
}
.middleSelect{
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  margin-top: 1rem;
}
.Freight{
  width: 90%;
  border: none;
  height: 100%;
}
.addTag{
  width: 54px;
height: 54px;
background: #E7ECF8;
border: 1px dashed #E7ECF8;
border-radius: 50%;
font-size: 2rem;
color: blue;
}
.model{
  position: absolute;
  background-color: rgb(229, 224, 224);
  width: 50%;
  height: 50%;
  padding: 1rem;
  z-index:99;
}
 */