.container {
  width: 100%;
}
.wrapper{
  display: flex;
  flex-direction: column;
  align-items: stretch;
  padding: .5rem;
}
.top {
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-family: "Inter";
  font-style: normal;
  font-weight: 700;
  font-size: 15.184px;
  line-height: 18px;
  letter-spacing: -0.607362px;
  color: rgba(49, 49, 49, 0.9);
}
.icons {
  display: flex;
  align-items: center;
  gap: 0.2rem;
}
.bottom {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 0.2rem;
}
.left {
  font-family: "Inter";
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 19px;
  display: flex;
  align-items: center;
  letter-spacing: -0.005em;
}
.postLoadHeading{
  font-family: "Inter";
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 19px;
  display: flex;
  align-items: center;
  letter-spacing: -0.005em;
}
.postLoadPara{
  font-family: 'Inter';
font-style: normal;
font-weight: 400;
font-size: 12px;
line-height: 23px;
}
